name: Build and push Docker image to Dockerhub

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Login to Github
        uses: docker/login-action@v3
        with:
          registry: https://ghcr.io
          username: johan253
          password: ${{ secrets.GITHUB_TOKEN }}

      # - name: Set up QEMU
      #   uses: docker/setup-qemu-action@v3
      #
      # - name: Set up Docker Buildx
      #   uses: docker/setup-buildx-action@v3

      - name: Build and push to Github
        uses: docker/build-push-action@v5
        with:
          # platforms: linux/amd64,linux/arm64
          platforms: linux/amd64
          push: true
          tags: ghcr.io/johan253/ratemycourses:latest

  deploy:
    permissions:
      id-token: write
      contents: read
    name: github-actions-rmc-deployment
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Set up `kubectl`
        uses: azure/setup-kubectl@v3
        with:
          version: "latest"
      - name: Fetch Teleport binaries
        uses: teleport-actions/setup@v1
        with:
          version: 18.5.0
      - name: Fetch credentials using Machine ID
        id: auth
        uses: teleport-actions/auth-k8s@v2
        with:
          proxy: teleport.johanhernandez.com:443
          token: github-actions-cd
          kubernetes-cluster: prd
      - name: Rollout Kubernetes Deployment
        run: |
          kubectl -n ratemycourses rollout restart deployment rmc-nextjs
